# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [2]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [3]:
series = pd.Series([1,2,3],[4,5,6])
#make sure i put pd.Series capitalized "s"
print(series)

4    1
5    2
6    3
dtype: int64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [4]:
df_1 = pd.DataFrame({'alfa':[3,4,5,6], 'beta':['a','b','c','d']})

print(df_1)

   alfa beta
0     3    a
1     4    b
2     5    c
3     6    d

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [33]:
names = ['Ricky','Ricky2','Ricky3','Ricky4','Ricky4','Ricky4','Ricky4',
        'Ricky4','Ricky4', 'Ricky 10']
df1 = np.random.normal(mean, sigma, (10,5))
print(df1)

df2 = pd.DataFrame(df1, index =names, columns = ('A1','A2', 'A3', 'A4', 'A5'))

df2
                   
#index =names, columns = ('A1','A2', 'A3', 'A4', 'A5'))

#df2 = pd.DataFrame()


#df2

[[0.74842153 0.95559639 1.01419328 0.69883677 0.95625783]
 [0.85854781 0.70800472 0.96930423 0.78750489 1.04698489]
 [0.92246226 0.89066384 1.09111264 0.75104043 0.84420002]
 [0.83047101 0.86667475 0.7636486  1.02164746 0.88791071]
 [0.81662492 0.92161136 0.92466143 1.02193224 0.83224789]
 [0.79352735 0.8853284  0.90389203 0.69569093 0.80047163]
 [0.86479244 1.12337507 0.94190277 0.81424933 0.98207667]
 [0.91179831 0.82269157 0.89190172 0.86746026 1.10015613]
 [0.8485238  0.63448602 0.72102638 0.99103323 0.90888106]
 [0.88670365 0.84590698 0.81602054 1.04421592 0.92999506]]

                A1        A2        A3        A4        A5
Ricky     0.748422  0.955596  1.014193  0.698837  0.956258
Ricky2    0.858548  0.708005  0.969304  0.787505  1.046985
Ricky3    0.922462  0.890664  1.091113  0.751040  0.844200
Ricky4    0.830471  0.866675  0.763649  1.021647  0.887911
Ricky4    0.816625  0.921611  0.924661  1.021932  0.832248
Ricky4    0.793527  0.885328  0.903892  0.695691  0.800472
Ricky4    0.864792  1.123375  0.941903  0.814249  0.982077
Ricky4    0.911798  0.822692  0.891902  0.867460  1.100156
Ricky4    0.848524  0.634486  0.721026  0.991033  0.908881
Ricky 10  0.886704  0.845907  0.816021  1.044216  0.929995

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [49]:
iris = pd.read_csv('iris.csv', header = None)

#df1 = pd.read_csv("covtype.data.gz", header = None)

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [51]:
iris.head()

              0            1             2            3        4
0  sepal_length  sepal_width  petal_length  petal_width  species
1           5.1          3.5           1.4          0.2   setosa
2           4.9          3.0           1.4          0.2   setosa
3           4.7          3.2           1.3          0.2   setosa
4           4.6          3.1           1.5          0.2   setosa

In [52]:
iris.tail()

       0    1    2    3          4
146  6.7  3.0  5.2  2.3  virginica
147  6.3  2.5  5.0  1.9  virginica
148  6.5  3.0  5.2  2.0  virginica
149  6.2  3.4  5.4  2.3  virginica
150  5.9  3.0  5.1  1.8  virginica

In [53]:
iris.sample()

      0    1    2    3       4
30  4.7  3.2  1.6  0.2  setosa

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [55]:
iris.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [56]:
iris.index

RangeIndex(start=0, stop=151, step=1)

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [63]:
iris.loc[0:1]

              0            1             2            3        4
0  sepal_length  sepal_width  petal_length  petal_width  species
1           5.1          3.5           1.4          0.2   setosa

In [64]:
iris.loc[0:1, 1:3]

             1             2            3
0  sepal_width  petal_length  petal_width
1          3.5           1.4          0.2

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [67]:
iris.iloc[2]

0       4.9
1       3.0
2       1.4
3       0.2
4    setosa
Name: 2, dtype: object

In [70]:
iris.iloc[0:2, 0:3]

              0            1             2
0  sepal_length  sepal_width  petal_length
1           5.1          3.5           1.4

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [74]:
iris[condition].head()

NameError: name 'condition' is not defined