# Lesson 3 Class Exercises: Pandas Part 1

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [3]:
import numpy as np
import pandas as pd

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [59]:
iris_df = pd.read_csv("iris.csv")

iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legistators`. Print the first 5 lines, and the dimensions.

In [9]:
legislator = pd.read_csv("https://theunitedstates.io/congress-legislators/legislators-current.csv")
print(legislator.head())
print(legislator.shape)

  last_name first_name middle_name suffix nickname             full_name  \
0     Brown    Sherrod         NaN    NaN      NaN         Sherrod Brown
1  Cantwell      Maria         NaN    NaN      NaN        Maria Cantwell
2    Cardin   Benjamin          L.    NaN      NaN    Benjamin L. Cardin
3    Carper     Thomas     Richard    NaN      NaN      Thomas R. Carper
4     Casey     Robert          P.    Jr.      Bob  Robert P. Casey, Jr.

     birthday gender type state  ...  opensecrets_id  lis_id  \
0  1952-11-09      M  sen    OH  ...       N00003535    S307
1  1958-10-13      F  sen    WA  ...       N00007836    S275
2  1943-10-05      M  sen    MD  ...       N00001955    S308
3  1947-01-23      M  sen    DE  ...       N00012508    S277
4  1960-04-13      M  sen    PA  ...       N00027503    S309

               fec_ids cspan_id govtrack_id votesmart_id  ballotpedia_id  \
0  H2OH13033,S6OH00163   5051.0      400050      27018.0   Sherrod Brown
1  S8WA00194,H2WA01054  26137.0      300018      27122.0  Maria Cantwell
2  H6MD03177,S6MD03177   4004.0      400064      26888.0      Ben Cardin
3            S8DE00079    663.0      300019      22421.0      Tom Carper
4            S6PA00217  47036.0      412246       2541.0  Bob Casey, Jr.

  washington_post_id icpsr_id    wikipedia_id
0                NaN  29389.0   Sherrod Brown
1                NaN  39310.0  Maria Cantwell
2                NaN  15408.0      Ben Cardin
3                NaN  15015.0      Tom Carper
4                NaN  40703.0   Bob Casey Jr.

[5 rows x 34 columns]
(536, 34)

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [12]:
legislator.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the datatypes of all of the columns in the legislator data. Do all of the data types seem appropriate for the data?

In [14]:
legislator.index

RangeIndex(start=0, stop=536, step=1)

Show all of the datayptes in the iris dataframe

In [16]:
legislator.dtypes

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter                object
facebook               object
youtube                object
youtube_id             object
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

In [18]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

In [19]:
legislator.isna().sum()

last_name               0
first_name              0
middle_name           340
suffix                518
nickname              508
full_name               0
birthday                0
gender                  0
type                    0
state                   0
district              100
senate_class          436
party                   0
url                     0
address                 0
phone                   0
contact_form          435
rss_url               245
twitter                 8
facebook              111
youtube               229
youtube_id            140
bioguide_id             0
thomas_id             160
opensecrets_id          1
lis_id                436
fec_ids                 0
cspan_id              102
govtrack_id             0
votesmart_id           19
ballotpedia_id        213
washington_post_id    536
icpsr_id                7
wikipedia_id            0
dtype: int64

How about in the iris dataframe?

In [21]:
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Task 4
It is also important to know if you have any duplicatd rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

In [1]:
print(legislator[legislator.duplicated()])

NameError: name 'legislator' is not defined

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

In [32]:
print(iris.duplicated().sum())

3

In [ ]:
# They are there for a reason

If there are duplicated rows should we remove them or keep them?

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have four species in our iris data, we should check that we see four species. How many political parties should we expect in the legislators data?  If all we saw were a single part perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `nunique` function.  Try it for both the legislators and the iris data set.

In [33]:
legislator.nunique()

last_name             488
first_name            317
middle_name            59
suffix                  4
nickname               21
full_name             536
birthday              529
gender                  2
type                    2
state                  56
district               53
senate_class            3
party                   3
url                   536
address               536
phone                 536
contact_form          101
rss_url               290
twitter               528
facebook              425
youtube               307
youtube_id            396
bioguide_id           536
thomas_id             376
opensecrets_id        535
lis_id                100
fec_ids               536
cspan_id              434
govtrack_id           536
votesmart_id          517
ballotpedia_id        323
washington_post_id      0
icpsr_id              529
wikipedia_id          536
dtype: int64

In [34]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

In [51]:
legislator['gender'].unique()

array(['M', 'F'], dtype=object)

In [48]:
legislator.iloc[5]

last_name                                                     Feinstein
first_name                                                       Dianne
middle_name                                                         NaN
suffix                                                              NaN
nickname                                                            NaN
full_name                                              Dianne Feinstein
birthday                                                     1933-06-22
gender                                                                F
type                                                                sen
state                                                                CA
district                                                            NaN
senate_class                                                          1
party                                                          Democrat
url                                    https://www.feinstein.senate.gov
address               331 Hart Senate Office Building Washington DC ...
phone                                                      202-224-3841
contact_form          https://www.feinstein.senate.gov/public/index....
rss_url               http://www.feinstein.senate.gov/public/?a=rss....
twitter                                                    SenFeinstein
facebook                                               senatorfeinstein
youtube                                                SenatorFeinstein
youtube_id                                     UCtVC--6LR0ff2aOP8THpuEw
bioguide_id                                                     F000062
thomas_id                                                          1332
opensecrets_id                                                N00007364
lis_id                                                             S221
fec_ids                                                       S0CA00199
cspan_id                                                          13061
govtrack_id                                                      300043
votesmart_id                                                      53273
ballotpedia_id                                         Dianne Feinstein
washington_post_id                                                  NaN
icpsr_id                                                          49300
wikipedia_id                                           Dianne Feinstein
Name: 5, dtype: object

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

In [52]:
legislator.describe()

,district,senate_class,thomas_id,cspan_id,govtrack_id,votesmart_id,washington_post_id,icpsr_id
count,436.000000,100.000000,376.000000,4.340000e+02,536.000000,517.000000,0.0,529.000000
mean,9.869266,2.010000,1749.191489,5.373331e+05,405232.339552,74484.537718,NaN,24147.979206
std,10.478171,0.822598,543.343825,1.467798e+06,22470.871879,61365.127579,NaN,7397.835690
min,0.000000,1.000000,91.000000,5.000000e+00,300002.000000,119.000000,NaN,14066.000000
25%,3.000000,1.000000,1600.500000,4.552275e+04,400642.500000,24046.000000,NaN,21110.000000
50%,6.000000,2.000000,1926.000000,7.964150e+04,412513.500000,51522.000000,NaN,21561.000000
75%,13.000000,3.000000,2126.250000,1.003305e+06,412701.250000,134948.000000,NaN,21970.000000
max,53.000000,3.000000,2296.000000,9.275683e+06,456790.000000,182310.000000,NaN,94659.000000

In [53]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [57]:
legislator.index = legislator["party"]

legislator.head(10)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
party,,,,,,,,,,,,,,,,,,,,,
Democrat,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
Democrat,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Democrat,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Democrat,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Democrat,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
Democrat,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,N00007364,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein
Democrat,Klobuchar,Amy,Jean,NaN,NaN,Amy Klobuchar,1960-05-25,F,sen,MN,...,N00027500,S311,S6MN00267,83701.0,412242,65092.0,Amy Klobuchar,NaN,40700.0,Amy Klobuchar
Democrat,Menendez,Robert,NaN,NaN,Bob,Robert Menendez,1954-01-01,M,sen,NJ,...,N00000699,S306,"H2NJ13075,S6NJ00289",29608.0,400272,26961.0,Bob Menendez,NaN,29373.0,Bob Menendez
Independent,Sanders,Bernard,NaN,NaN,Bernie,Bernard Sanders,1941-09-08,M,sen,VT,...,N00000528,S313,"H8VT01016,S4VT00033",994.0,400357,27110.0,Bernie Sanders,NaN,29147.0,Bernie Sanders
Democrat,Stabenow,Debbie,Ann,NaN,NaN,Debbie Stabenow,1950-04-29,F,sen,MI,...,N00004118,S284,"S8MI00281,H6MI08163",45451.0,300093,515.0,Debbie Stabenow,NaN,29732.0,Debbie Stabenow

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [77]:

legislator[(~legislator['senate_class'].isna()) & (legislator['party'] == 'Democrat')].sample(15)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
party,,,,,,,,,,,,,,,,,,,,,
Democrat,Murphy,Christopher,S.,NaN,NaN,Christopher Murphy,1973-08-03,M,sen,CT,...,N00027566,S364,"H6CT05124,S2CT00132",1021270.0,412194,17189.0,Christopher S. Murphy,NaN,20707.0,Chris Murphy
Democrat,Kaine,Timothy,NaN,NaN,Tim,Tim Kaine,1958-02-26,M,sen,VA,...,N00033177,S362,S2VA00142,49219.0,412582,50772.0,Tim Kaine,NaN,41305.0,Tim Kaine
Democrat,Menendez,Robert,NaN,NaN,Bob,Robert Menendez,1954-01-01,M,sen,NJ,...,N00000699,S306,"H2NJ13075,S6NJ00289",29608.0,400272,26961.0,Bob Menendez,NaN,29373.0,Bob Menendez
Democrat,Durbin,Richard,J.,NaN,NaN,Richard J. Durbin,1944-11-21,M,sen,IL,...,N00004981,S253,"S6IL00151,H2IL20026",6741.0,300038,26847.0,Dick Durbin,NaN,15021.0,Dick Durbin
Democrat,Duckworth,Tammy,NaN,NaN,NaN,Tammy Duckworth,1968-03-12,F,sen,IL,...,N00027860,S386,"H6IL06141,S6IL00292",94484.0,412533,57442.0,Tammy Duckworth,NaN,21325.0,Tammy Duckworth
Democrat,Udall,Tom,S.,NaN,NaN,Tom Udall,1948-05-18,M,sen,NM,...,N00006561,S326,"H8NM03097,S8NM00184",10075.0,400413,22658.0,Tom Udall,NaN,29924.0,Tom Udall
Democrat,Bennet,Michael,F.,NaN,NaN,Michael F. Bennet,1964-11-28,M,sen,CO,...,N00030608,S330,S0CO00211,1031622.0,412330,110942.0,Michael Bennet,NaN,40910.0,Michael Bennet
Democrat,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Democrat,Leahy,Patrick,J.,NaN,NaN,Patrick J. Leahy,1940-03-31,M,sen,VT,...,N00009918,S057,S4VT00017,1552.0,300065,53353.0,Patrick Leahy,NaN,14307.0,Patrick Leahy
Democrat,Markey,Edward,J.,NaN,Ed,Edward J. Markey,1946-07-11,M,sen,MA,...,N00000270,S369,"H6MA07101,S4MA00028",260.0,400253,26900.0,Ed Markey,NaN,14435.0,Ed Markey
Democrat,Stabenow,Debbie,Ann,NaN,NaN,Debbie Stabenow,1950-04-29,F,sen,MI,...,N00004118,S284,"S8MI00281,H6MI08163",45451.0,300093,515.0,Debbie Stabenow,NaN,29732.0,Debbie Stabenow
Democrat,Reed,John,F.,NaN,Jack,Jack Reed,1949-11-12,M,sen,RI,...,N00000362,S259,"S6RI00163,H0RI02071",24239.0,300081,27060.0,Jack Reed,NaN,29142.0,Jack Reed (Rhode Island politician)
Democrat,Gillibrand,Kirsten,E.,NaN,NaN,Kirsten E. Gillibrand,1966-12-09,F,sen,NY,...,N00027658,S331,"H6NY20167,S0NY00410",1022862.0,412223,65147.0,Kirsten Gillibrand,NaN,20735.0,Kirsten Gillibrand
Democrat,Tester,Jon,NaN,NaN,NaN,Jon Tester,1956-08-21,M,sen,MT,...,N00027605,S314,S6MT00162,1020176.0,412244,20928.0,Jon Tester,NaN,40702.0,Jon Tester
Democrat,Schumer,Charles,E.,NaN,Chuck,Charles E. Schumer,1950-11-23,M,sen,NY,...,N00001093,S270,"S8NY00082,H0NY16010",5929.0,300087,26976.0,Chuck Schumer,NaN,14858.0,Chuck Schumer

## Exercise 8: Dates
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [96]:
legislator['birthday'] = pd.to_datetime(legislator['birthday'])

In [97]:
legislator['birthday']

party
Democrat     1952-11-09
Democrat     1958-10-13
Democrat     1943-10-05
Democrat     1947-01-23
Democrat     1960-04-13
                ...
Democrat     1982-07-25
Republican   1965-10-23
Republican   1964-07-01
Republican   1963-03-05
Republican   1970-11-27
Name: birthday, Length: 536, dtype: datetime64[ns]

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

In [101]:
((pd.Timestamp.now() - legislator['birthday']).dt.days) / (365)

party
Democrat      67.345205
Democrat      61.416438
Democrat      76.449315
Democrat      73.145205
Democrat      59.915068
                ...
Democrat      37.619178
Republican    54.383562
Republican    55.695890
Republican    57.021918
Republican    49.284932
Name: birthday, Length: 536, dtype: float64

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

In [102]:
x / 365

party
Democrat     67 days 08:19:01.434003
Democrat     61 days 10:01:35.954551
Democrat     76 days 10:48:56.502496
Democrat     73 days 03:31:01.434003
Democrat     59 days 21:59:37.598387
                       ...
Democrat     37 days 14:53:32.666880
Republican   54 days 09:14:15.406606
Republican   55 days 16:44:00.612086
Republican   57 days 00:33:29.379209
Republican   49 days 06:52:13.762770
Name: birthday, Length: 536, dtype: timedelta64[ns]

Next, find the youngest, oldest and average age of all legislators

Who are the oldest and youngest legislators?

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from your home state using the `loc` accessor.

Use the loc command to find all legislators from South Carolina and North Carolina

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

## Exercise 10: Economics Data Example
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import and print the first 5 lines of data to explore what is there.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Explore More
Retrieve descriptive statistics for the data.

Identify all of the countries listed in the data.

Convert the time column to a datetime object.

Identify the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

Because we only have one data point collected per year per country, simplify this by adding a new column with just the year.  Print the first 5 rows to confirm the column was added.

There are two pay periods.  Retrieve them in a list of just the two strings

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use loc to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.

Now do the same for Annual salary